    <h1>{{model.name}}</h1>
    <div class="detailed-wrapper">
      <img src="{{model.photo}}" alt="{{model.name}}" class="detailed-image">
      <div class="detailed-info">
        <p class="detailed-header">Type:</p>
        <span >{{model.type}}</span>
        <p class="detailed-header">Sex:</p>
        <span>{{model.sex}}</span>
        <p class="detailed-header">Price:</p>
        <span>{{model.price}} $</span>
      </div>
    </div>

