<h1>View all pokemons</h1>
<div class="row">

{{#each model}}
    <div class="col s3 ">
        <div class="card">
            <div class="card-image">
                <img src="{{photo}}" alt="{{name}}">
                <span class="card-title">{{name}}</span>
            </div>
            <div class="card-action ">
                <a href="/detailed/{{id}}">Detailed info</a>
                <a href="/detailed/{{id}}/edit?allow=true">Edit info</a>
                <form action="/cart/add" method="post">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="btn btn-primary">BUY</button>
                  <span class="card-price">{{price}} $</span>
                </form>
            </div>
        </div>
    </div>
{{else}}
    <p>empty for now</p>
{{/each}}
</div>
